**/debug/*
**/release/*
**/Debug/*
**/Debug_VLD/*
**/Release/*
**/Designer/*
**/x64/*
**/.vs/*
*.Debug
*.Release
*.user
*.obj
**/.vscode/*
**/bin/*
Makefile
**/Backup/*
**/Output/*
**/Build/*
/ThirdPatry/Aproch/*

